*{
    background-color: black;
}
#container{
    text-align: center;
    padding: 30px;
    
}
h1{
   font-family: sans-serif; 
}
 .row{
    padding: 6px;
}
.button{
    padding: 8px;
    margin: 3px;
    width: 53px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: gray;
    color: white;
    font-size: larger;
    
}
.button1{
    padding: 8px;
    margin: 3px;
    width: 53px;
    height: 50px;
    border-radius: 30px;
    background-color: #FF9800;
    color: white;
    font-size: larger;
    border: none;
}

.button0{
    padding: 8px;
    margin: 3px;
    width: 115px;
    height: 50px;
    border-radius: 30px;
    background-color: gray;
    color: white;
    font-size: larger;
    border: none;
    text-align: left;
    letter-spacing: 2em;
    padding: 20px;
    padding-bottom: 20px;
    padding-top: 15px;
}
#input{
    padding: 8px;
    width: 35vh;
    border: 1px solid white;
    color: white;
    font-size: x-large;
    border-style: hidden;
    text-align: right;
} 
